body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav{
  width: 100%;
  background-color: black;
}

.login-page{
  margin: auto;
  background-color: white;
}

.new-user h1{
  color: black;
}

.new-user{
  display: flexbox;
  margin: auto;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 5px;
}

.new-user input{
  height: 20px;
  width: 25%;
  border-color: #A559E8;
  margin-bottom: 15px;
  text-align: center;
}

.new-user button{
  height: 30px;
  width: 25%;
  margin-bottom: 15px;
  text-decoration: none;
  color: white;
  border: none;
  background-color: #A559E8;
}

.returning-user{
  display: flexbox;
  margin: auto;
  text-align: center;
  background-color: #a559e860;
  color: white;
  padding-bottom: 15px;
  padding-top: 5px;
}

.returning-user input{
  height: 20px;
  width: 25%;
  border-color: #A559E8;
  margin-bottom: 15px;
  text-align: center;
}

.returning-user button{
  height: 30px;
  width: 25%;
  margin-bottom: 15px;
  text-decoration: none;
  color: white;
  border: none;
  background-color: #A559E8;
}

.info-section h1{
  text-align: center;
  padding-top: 20px;
  color: black;
}

.infosec{
  width:33%;
  display: inline-block;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.infosec p{
  padding:10px;
}

.infosec h1{
  color: #A559E8;
}

.question-page{
  max-width: 720px;
  margin: auto;
  background-color: #A559E860;
  text-align: center;
  padding-bottom: 30px;
}

.question-page h1{
  color: white;
  padding-top: 20px;
}

.qbuttons button{
  width: 18%;
  height: 30px;
  margin-bottom: 15px;
  margin-left: 5px;
  border: none;
}

.stock-search{
  padding-bottom: 30px;
}

.stock-search input{
  width: 40%;
  height: 20px;
}

.stock-search button{
  height: 25px;
  width: auto;
  border: none;
  color: white;
  background-color: #A559E8;
}

.cont-btn{
  border: none;
  background-color: #A559E8;
  color: white;
  height: 30px;
  margin-left: 20px;
  margin-top: 10px;
  width: 70%;
}


.port-stocks {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.updateBtn {
  border: none;
  background-color: #A559E8;
  color: white;
  height: 40px;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;

canvas {
  height: 50px;
  width: 50px;
}